@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=cyrillic');
*{
    font-family: 'Ubuntu', sans-serif;
}
#drop {
    width: 320px;
    border: 1px solid #C5CAE9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 20px auto;
    padding: 10px 10px 25px;
    background: #E8EAF6;
}

#table {
    border: 1px solid #C5CAE9;
    margin: 10px auto;

}
td {
    border: 1px solid #C5CAE9;
}

h1 {
    color: #3F51B5;
}

.btn {
    margin: 10px auto;
    width: 150px;
    text-align: center;
    border: 1px solid #3F51B5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 7px;
    background: #E8EAF6;
    color: #3F51B5;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}

.btn:hover {
    background: #C5CAE9;
    cursor: pointer;
}

#reset {
    display: none;
}

#droptext {
    color: #5C6BC0;
    font-size: 13px;
}

#uploadButton {
    width: 0;
    height: 0;
    position: fixed;
    top: -120px;
    left: -120px;
}